<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SkySeat</title>
        <link rel="icon" type="image/png"
            href="/static/images/skyseat-favicon1.png">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-100 flex items-center justify-center h-screen">
        <div class="text-center">
            <!-- Logo -->
            <img src="/static/images/skyseat-favicon1.png" alt="SkySeat Logo"
                class="mx-auto w-24 h-24 mb-4">

            <!-- Title -->
            <h1 class="text-4xl font-bold text-gray-800">SkySeat</h1>

            <!-- Subtitle -->
            <p class="text-gray-500 text-lg mt-2">Flight Ticket Booking Made
                Simple</p>

            <!-- Buttons -->
            <div class="mt-6 space-x-4">
                <!-- Book Now Button -->
                <a href="/flight-search">
                    <button class="bg-gray-200 text-gray-700 font-semibold py-2 px-4 rounded hover:bg-gray-300 transition">
                        Book Now
                    </button>
                </a>
            </div>
            

            <div class="mt-4 space-x-4">
                <!-- Login Button -->
                <a href="/login">
                    <button class="bg-gray-300 text-gray-600 font-semibold py-2 px-4 rounded hover:bg-gray-400 transition">
                        Login
                    </button>
                </a>
                <a href="/sign-up">
                    <button
                        class="bg-gray-800 text-white font-semibold py-2 px-4 rounded hover:bg-gray-900 transition">
                        Sign Up
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>